<div class="overview-card">
  <div>
    <div class="d-flex p-3 justify-content-between">
      <div>
        <h3 class="no-margin">Current Medication List</h3>
        <p class="grey">as at <%= Time.now.strftime("%m/%d/%Y") %></p>
      </div>
      <div>
        <div class="py-3">
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newDrugForm">
            Add Medication
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newPresentationForm">
            Add Presentation
          </button>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newIndicationForm">
            Add Indications
          </button>
        </div>
        <div id="search-bar py-5">
          <%= form_tag drugs_path, class: "d-flex", method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control"
            %>
            <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="d-flex px-5 justify-content-between grey-btm-border">
      <div class="lg-inf">
        <p class="grey">Medication Name</p>
      </div>
      <div class="lg-inf">
        <p class="grey">Presentations</p>
      </div>
      <div class="d-flex">
        <div class="lg-inf">
          <p class="grey">Indications</p>
        </div>
        <div class="xs-inf">
          <p class="grey">Last Updated</p>
        </div>
      </div>
    </div>
    <% @drugs.each_with_index do |drug, index| %>
    <div class="d-flex px-5 justify-content-between <%= 'grey-btm-border' if index != @drugs.size - 1 %> margin-tp">
      <div class="lg-inf" id="c-1">
        <p class=""><%= drug.name %></p>
      </div>
      <div class="lg-inf md-margin-btm">
          <% drug.presentations.each do |presentation| %>
        <div>
          <p class="no-margin" id="c-2"><%= presentation.dose %><%= presentation.drug_unit %> in <%= presentation.volume %><%= presentation.volume_unit %></p>
        </div>
        <% end %>
      </div>
      <div class="d-flex">
        <div class="lg-inf" id="c-3">
          <% drug.uniq_indications.each do |indic| %>
          <p class="no-margin"><%= indic %></p>
          <% end %>
        </div>
        <div class="xs-inf d-flex justify-content-around" id="c-4">
          <p class="no-margin"> <%= drug.updated_at.strftime("%m/%d/%Y") %> </p>
        </div>
        <div>
          <%= link_to drug_path(drug), method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'new_drug_modal' %>

<%= render 'presentations/new_presentation_modal' %>

<%= render 'indications/new_indication_modal' %>

