<div class="banner-wrapper d-flex" style="background-image: radial-gradient(circle, rgba(63,94,251,0) 0%, rgba(0,0,0,0.7808857808857809) 100%), url(<%= asset_path('banner.jpg') %>);">
  <div class="banner-content container my-auto mx-auto">
    <h1>Right Dose</h1>
    <h3>Improving patient outcomes</h3>
  </div>
</div>
<% if policy(@paramedic).create? %>
<div class="small-form">
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

    <div class="form-actions d-flex justify-content-center md-margin-btm">
      <%= f.button :submit, "Sign up", class: "btn btn-primary inline" %>
    </div>
  <% end %>

  <div class="text-center">
    <%= render "devise/shared/links" %>
    <%= link_to "back", root_path %>
  </div>
</div>
<% end %>
