<%= simple_form_for Paramedic.new  do |f| %>
  <div class="form-inputs">
    <div class="d-flex">
      <%= f.input :first_name %>
      <%= f.input :last_name %>
      <%= f.association :paramedic_type %>
      <%= f.input :employee_num %>
      <%= f.input :email,
                  required: true,
                  autofocus: true,
                  input_html: { autocomplete: "email" }%>
      <%= f.input :password,
                  required: true,
                  hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: true,
                  input_html: { autocomplete: "new-password" } %>
    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create User", class: "btn btn-primary" %>
  </div>
<% end %>
