<div class="overview-card">
  <div>
    <div class="d-flex p-3 justify-content-between">
      <div>
        <h3 class="no-margin">Current Users List</h3>
        <p class="grey">as at <%= Time.now.strftime("%m/%d/%Y") %></p>
      </div>
      <div class="d-flex">
        <div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newParamedicForm">
            Add User
          </button>
        </div>
      </div>
      <div class="d-flex">
        <div id="search-bar ">
          <%= form_tag paramedics_path, class: "d-flex", method: :get do %>
            <%= text_field_tag :query,
              params[:query],
              class: "form-control",
              placeholder: "Find a Paramedic"
            %>
          <%= submit_tag "Search", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
    <div class="d-flex px-5 justify-content-between grey-btm-border">
      <div class="lg-inf">
        <p class="grey">User Name</p>
      </div>
      <div class="lg-inf">
        <p class="grey">User Email</p>
      </div>
      <div class="d-flex">
        <div class="xs-inf">
          <p class="grey">Skill Level</p>
        </div>
        <div class="xs-inf">
          <p class="grey">ID number</p>
        </div>
        <div class="xs-inf">
          <p class="grey">Last Updated</p>
        </div>
      </div>
    </div>
    <% @paramedics.each_with_index do |paramedic, index| %>
    <div class="d-flex px-5 justify-content-between margin-y <%= 'grey-btm-border' if index != @paramedics.size - 1 %>">
      <div class="lg-inf" id='c-1'>
        <p><%= paramedic.first_name %> <%= paramedic.last_name %></p>
      </div>
      <div class="lg-inf" id='c-2'>
        <p><%= paramedic.email %></p>
      </div>
      <div class="d-flex">
        <div class="xs-inf" id='c-3'>
          <p><%= paramedic.paramedic_type.acronym %></p>
        </div>
        <div class="xs-inf" id='c-4'>
          <p><%= paramedic.employee_num %></p>
        </div>
        <div class="xs-inf d-flex justify-content-around" id='c-5'>
          <div>
            <p><%= paramedic.created_at.strftime("%m/%d/%Y") %></p>
          </div>
          <div>
            <%= link_to 'edit', edit_paramedic_path(paramedic), data: {toggle: "modal", target: "#editOrgModal-#{paramedic.id}"} %>
            <%= render 'edit_modal', paramedic: paramedic %>
          </div>
          <div>
            <%= link_to paramedic_path(paramedic), method: :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<%= render 'add_paramedic_modal' %>


