<div class="card" style="width: 35rem">
  <div class="p-4">
    <div class="d-flex justify-content-between">
      <div>
        <h5 class="card-title font-weight-bold"> <%= type.title %> - <%= type.acronym %> </h5>
      </div>
      <div class="d-flex">
        <div class="px-3">
          <p><%= link_to 'edit', edit_paramedic_type_path(type), data: {toggle: "modal", target: "#editOrgModal-#{type.id}"} %></p>
        </div>
        <div class="px-3">
          <%= link_to paramedic_type_path(type), method: :delete do %>
                    <i class="fas fa-trash"></i>
                  <% end %>
        </div>
      </div>
    </div>
    <div>
        <% if type.photo.attached? %>
        <%= cl_image_tag type.photo.key, class: "avatar-rect", alt: "avatar" %>
        <% end %>
    </div>
  </div>
  <div class="d-flex p-4 justify-content-between">
    <div>
      <p class="card-text"><%= @rules.where(paramedic_type: type).count %> Active interventions</p>
    </div>
    <div>
      <%= link_to 'Review', rules_path(paramedic_type: type), class: "btn btn-primary" %>
      <%= link_to 'New Rule', new_rule_path(paramedic_type: type), class: "btn btn-primary" %>
    </div>
  </div>
</div>

<%= render 'edit_modal', type: type %>

