<nav id="white-background" class="height navbar bg-white p-1 d-flex justify-content-between">
  <h2 class="ml-4 font-weight-bold" id="rd-namex"><span id="rd-logo">RD</span> Right Dose</h2>
  <div class="d-flex py-3 text-center">
    <div>
      <%= link_to "Paramedic", new_paramedic_session_path, class: "btn btn-ghost" %>
      <%= link_to "Administrator", new_admin_session_path, class: "btn btn-ghost" %>
    </div>
  </div>
</nav>
<div class="background-color">
  <div class="d-flex container text-white">
    <div class="container text-white">
      <div id="particles-js" class="d-flex justify-content-left">
        <div class="btext text-left">
          <div>
            <h1 id="rd-namex"><span id="rd-logo">RD</span> Right Dose <i class="small fas fa-heartbeat" style="color:red"></i></h1>
            <h3>A revolutionary app designed to save lives by preventing drug dosing errors in prehospital patients.</h3>
          </div>
          <div class="d-flex py-3 text-center">
            <div>
              <%= link_to "Paramedic", new_paramedic_session_path, class: "btn blue-background width-150px mr-2 border-0" %>
              <%= link_to "Admin", new_admin_session_path, class: "btn blue-background width-150px border-0" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h1 class="text-center text-dark p-5 border-bottom m-5">How <strong><span id="rd-logo">RD</span> Right Dose </strong> works to prevent dosing errors</h1>
  <div class="text-left d-flex justify-content-between align-items-center bg-white shadow rounded p-5">
    <h3 style="color: #313131">Medication errors by emergency medical providers account for an estimated <strong><em>7,000</em></strong> deaths per year</h3>
    <%= image_tag "emt.jpg", class: "w-50 shadow d-none d-md-block", style: "margin-top: -70px; margin-bottom: -70px; border-radius: 10px" %>
  </div>
</div>


<!-- Footer -->
<footer class="page-footer font-small cyan darken-3">

  <!-- Footer Elements -->
  <div class="container mt-5 p-5">

    <!-- Grid row-->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-12 py-5">
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic">
            <i class="fab fa-facebook-f fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <i class="fab fa-twitter fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!-- Google +-->
          <a class="gplus-ic">
            <i class="fab fa-google-plus-g fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Linkedin -->
          <a class="li-ic">
            <i class="fab fa-linkedin-in fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Instagram-->
          <a class="ins-ic">
            <i class="fab fa-instagram fa-lg white-text mr-md-5 mr-3 fa-2x"> </i>
          </a>
          <!--Pinterest-->
          <a class="pin-ic">
            <i class="fab fa-pinterest fa-lg white-text fa-2x"> </i>
          </a>
        </div>
      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">© 2020 Copyright:
    <a href="#"> Right Dose</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->



<%= javascript_include_tag 'particles.min', 'application'%>
<script>particlesJS.load('particles-js', 'assets/particles.json', function() {
  console.log('callback - particles.js config loaded');
 });</script>

