<nav id="white-background" class="navbar bg-white p-1 d-flex justify-content-between">
  <h2 class="ml-4 font-weight-bold" id="rd-namex"><span id="rd-logo">RD</span> Right Dose</h2>
  <div class="d-flex py-3 text-center">
    <div>
      <%= link_to "Paramedic", new_paramedic_session_path, class: "btn btn-ghost" %>
      <%= link_to "Administrator", new_admin_session_path, class: "btn btn-ghost" %>
    </div>
  </div>
</nav>
<div class="background-color">
  <div class="d-flex container text-white">
    <div class="container text-white">
      <div id="particles-js" class="d-flex justify-content-left">
        <div class="btext text-left">
          <div>
            <h1 id="rd-namex"><span id="rd-logo">RD</span> Right Dose <i class="small fas fa-heartbeat" style="color:red"></i></h1>
            <h3>A revolutionary app designed to prevent drug dosing errors in prehospital patients.</h3>
          </div>
          <div class="d-flex py-3 text-center">
            <div>
              <%= link_to "Paramedic", new_paramedic_session_path, class: "btn blue-background width-150px mr-2 border-0" %>
              <%= link_to "Admin", new_admin_session_path, class: "btn blue-background width-150px border-0" %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <h1 class="text-center text-dark p-5 border-bottom m-5">How <strong><span id="rd-logo">RD</span> Right Dose </strong> works to prevent dosing errors</h1>
  <div class="text-left d-flex align-items-center bg-white shadow rounded p-5">
    <h4 style="color: #313131;">Medication errors by emergency medical providers account for an estimated 7,000 deaths per year</h4>
    <%= image_tag "ambulance.jpg", class: "w-50 shadow rounded", style: "margin-top: -70px; margin-bottom: -70px" %>
  </div>
</div>






<%= javascript_include_tag 'particles.min', 'application'%>
<script>particlesJS.load('particles-js', 'assets/particles.json', function() {
  console.log('callback - particles.js config loaded');
 });</script>

