<div class="page-container">

  <div class="header-container">
    <%= render 'shared/paramedic/navbar', medic: @paramedic %>
  </div>

  <div class="patient-container px-2 py-1">
    PATIENT INFORMATION
    AGE: XX yo
    WEIGHT: XX kg

    <!-- AGE/WEIGHT MODAL -->
    <div>
      <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg">
          <div class="modal-content">
            <%= simple_form_for @case, url: edit_case_path do |cf| %>
              <%= cf.input :age %>
              <%= cf.input :weight %>
              <%= cf.input :paramedic_id,
                as: :hidden,
                input_html: { value: @paramedic.id } %>
              <%= cf.button :submit %>
            <% end %>
      </div>
    </div>
  </div>

      <%#= render 'shared/paramedic/age_weight_modal', case: @case %>
    </div>
  </div>

  <div class="active-container px-2 py-1">
    <%= render 'shared/paramedic/active_drug', drug: @drugs.first %>
  </div>

  <div class="search-container px-2 pt-1">
    <input type="text" id="myInput" placeholder="Search for drugs..">
  </div>

  <div class="queue-container px-2 pb-1">
    <ul id="myUL">
      <% @drugs.order(:name).each do |drug| %>
        <li class="header-font"><a href="#"><%= drug.name %></a></li>
      <% end %>
    </ul>
  </div>

  <div class="footer-container">
    <%= render 'shared/paramedic/footer' %>
  </div>
</div>
