<div class="overview-card">
  <div>
    <div class="d-flex p-3 justify-content-between">
      <div>
        <h3 class="no-margin">Current Users List</h3>
        <p class="grey">as at <%= Time.now.strftime("%m/%d/%Y") %></p>
      </div>
      <div class="d-flex">
        <div>
          <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#newParamedicForm">
            Add User
          </button>
        </div>
      </div>
        <div class="search-form">
          <input class="form-control main-form" type="text" placeholder="Search" aria-label="Search">
        </div>
      </div>
    </div>
    <div class="d-flex px-5 justify-content-between grey-btm-border">
      <div class="lg-inf">
        <p class="grey">User Name</p>
      </div>
      <div class="lg-inf">
        <p class="grey">User Email</p>
      </div>
      <div class="d-flex">
        <div class="xs-inf">
          <p class="grey">Skill Level</p>
        </div>
        <div class="xs-inf">
          <p class="grey">ID number</p>
        </div>
        <div class="xs-inf">
          <p class="grey">Last Updated</p>
        </div>
      </div>
    </div>
    <% @paramedics.each_with_index do |paramedic, index| %>
    <div class="d-flex px-5 justify-content-between margin-y <%= 'grey-btm-border' if index != @paramedics.size - 1 %>">
      <div class="lg-inf">
        <p><%= paramedic.first_name %> <%= paramedic.last_name %></p>
      </div>
      <div class="lg-inf">
        <p><%= paramedic.email %></p>
      </div>
      <div class="d-flex">
        <div class="xs-inf">
          <p><%= paramedic.paramedic_type.acronym %></p>
        </div>
        <div class="xs-inf">
          <p><%= paramedic.employee_num %></p>
        </div>
        <div class="xs-inf d-flex justify-content-around">
          <div>
            <p><%= paramedic.created_at.strftime("%m/%d/%Y") %></p>
          </div>
          <div>
            <%= link_to paramedic_path(paramedic), method: :delete do %>
              <i class="fas fa-trash"></i>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% end %>
  </div>
</div>

<div class="modal fade" id="newParamedicForm" tabindex="-1" role="dialog" aria-labelledby="newParamedicFormTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Add New User</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
