<div class="card w-80 p-5">
  <div id="info" style="display: none" data-presentations="<%= Drug.all.map { |drug| ["#{drug.id}", drug.presentations.map { |pres| ["#{pres.id}", pres.dose.to_s + pres.drug_unit + " | " + pres.volume.to_s + pres.volume_unit ] } ]}.to_h.to_json %>">
  </div>
  <div class="px-3">
    <h3>Create New Treatment Protocol - <%= @paramedic_type.title %></h3>
    <p><%= @paramedic_type.acronym %></p>
  </div>
  <%= simple_form_for rule  do |f| %>
    <div class="form-inputs">
      <div class="width-70">
        <h5 class="p-4 instruction">Step 1 - Select Indication and Drug</h5>
        <%= f.input :paramedic_type_id, input_html: { value: @paramedic_type.id }, as: :hidden %>
      </div>
      <div class="mx-3 justify-content-between">
        <div class="width-70">
          <%= f.association :indication, collection: Indication.all.order(:name) %>
        </div>
        <div class="d-flex">
          <div class="width-70">
            <%= f.input :drug, collection: Drug.all.order(:name), disabled: true %>
          </div>
          <div class="width-20 mx-5">
            <%= f.input :presentation_id, collection: [], disabled: true %>
          </div>
        </div>
      </div>
      <h5 class="p-4 instruction">Step 2 - Select Route and Patient Parameters</h5>
      <div class="d-flex mx-3 width-50 justify-content-between">
        <div class="width-20">
          <%= f.association :route, disabled: true %>
        </div>
        <div class="width-45">
          <%= f.input :patient_type, collection: Rule::PATIENT_TYPES, disabled: true %>
        </div>
      </div>
      <div class="d-flex mx-3 width-50 justify-content-between">
        <div class="width-45">
          <%= f.input :calc_type, label: 'Calculation Type', collection: Rule::CALC_TYPES, disabled: true %>
        </div>
        <div class="width-45">
          <%= f.input :dose_unit, collection: Rule::DOSE_UNITS, disabled: true %>
        </div>
      </div>
      <h5 class="p-4 instruction">Step 3 - Enter relevant age and weight constraints</h5>
      <div class="d-flex justify-content-between mx-3">
        <div class="d-flex width-50 mx-3 justify-content-between">
          <div class="width-45">
            <%= f.input :min_weight,disabled: true %>
          </div>
          <div class="width-45">
            <%= f.input :max_weight, disabled: true %>
          </div>
        </div>
        <div class="d-flex mx-3 width-50 justify-content-between">
          <div class="width-45">
            <%= f.input :min_age, disabled: true %>
          </div>
          <div class="width-45">
            <%= f.input :max_age, disabled: true %>
          </div>
        </div>
      </div>
      <h5 class="p-4 instruction">Step 4 - Enter relevant dosage rules</h5>
      <div class="d-flex justify-content-between mx-3">
        <div class="d-flex width-50 mx-3 justify-content-between">
          <div class="width-45">
            <%= f.input :max_initial_dose, disabled: true %>
          </div>
          <div class="width-45">
            <%= f.input :max_interval, disabled: true %>
          </div>
        </div>
        <div class="d-flex mx-3 width-50 justify-content-between">
          <div class="width-45">
            <%= f.input :repeat_dose, disabled: true %>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mx-3">
        <div class="d-flex width-50 mx-3 justify-content-between">
          <div class="width-45">
            <%= f.input :min_initial_dose, disabled: true %>
          </div>
          <div class="width-45">
            <%= f.input :min_interval, disabled: true %>
          </div>
        </div>
        <div class="d-flex mx-3 width-50 justify-content-between">
          <div class="width-45">
            <%= f.input :max_single_dose, disabled: true %>
          </div>
          <div class="width-45">
            <%= f.input :max_total_dose, label: "Max Dose (No Max Dose if left blank)", disabled: true %>
          </div>
        </div>
      </div>
      <div class="form-actions">
        <div class="create">
          <%= f.button :submit, "Create Rule", id: "create_rule", class: "btn btn-primary m-4", disabled: true %>S
        </div>
      </div>
    </div>
  </div>
</div>
<% end %>

