<div class="card w-80">
  <div>
    <h3>Create New Treatment Protocol - <%= @paramedic_type.title %></h3>
    <p><%= @paramedic_type.acronym %></p>
  </div>
  <div id="info" style="display: none" data-presentations="<%= Drug.all.map { |drug| ["#{drug.id}", drug.presentations.map { |pres| ["#{pres.id}", pres.dose.to_s + pres.drug_unit + " | " + pres.volume.to_s + pres.volume_unit ] } ]}.to_h.to_json %>">
  </div>
  <%= simple_form_for rule  do |f| %>
    <div class="form-inputs">
      <div class="width-70">
        <%= f.input :paramedic_type_id,
          input_html: { value: @paramedic_type.id },
          as: :hidden %>
      </div>
      <div class="width-70">
        <%= f.association :indication,
          collection: Indication.all.order(:name) %>
      </div>
      <div class="d-flex">
        <div class="width-70">
          <%= f.input :drug,
            collection: Drug.all.order(:name),
            disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :presentation_id,
            collection: [],
            disabled: true %>
        </div>
      </div>
        <div class="width-20">
          <%= f.association :route,
            disabled: true %>
        </div>
    </div>
    <div>
      <div>
        <%= f.input :patient_type, collection: Rule::PATIENT_TYPES, disabled: true %>
      </div>
      <div class="d-flex">
        <div class="width-20">
          <%= f.input :calc_type, collection: Rule::CALC_TYPES, disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :min_weight,disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :max_weight, disabled: true %>
        </div>
      </div>
      <div class="d-flex">
        <div class="width-20">
          <%= f.input :min_initial_dose, disabled: true %>
          <%= f.input :max_initial_dose, disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :dose_unit, collection: Rule::DOSE_UNITS, disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :min_interval, disabled: true %>
          <%= f.input :max_interval, disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :repeat_dose, disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :max_single_dose, disabled: true %>
          <%= f.input :max_total_dose, collection:[1,2,3,4,5], disabled: true %>
        </div>
        <div class="width-20">
          <%= f.input :min_age, disabled: true %>
          <%= f.input :max_age, disabled: true %>
        </div>
      </div>
    </div>
    <div class="form-actions">
      <div class="create">
        <%= f.button :submit, "Create Rule", class: "btn btn-primary" %>
      </div>
    </div>
  </div>
  <% end %>

