<%= simple_form_for [Rule.new, type] url: add_paramedic_path  do |f| %>
  <div class="form-inputs">
    <div class="d-flex">
    <%= f.input :min_age %>
    <%= f.input :max_age %>
    <%= f.input :repeat_dose %>
    <%= f.input :min_interval %>
    <%= f.input :max_interval %>
    <%= f.input :min_weight %>
    <%= f.input :max_weight %>
    <%= f.input :calc_type %>
    <%= f.association :paramedic_type_id %>
    <%= f.association :route_id %>
    <%= f.association :indication_id %>
    <%= f.input :created_at, null: false %>
    <%= f.input :updated_at, null: false %>
    <%= f.input :interval_unit %>
    <%= f.input :min_initial_dose %>
    <%= f.input :max_initial_dose %>
    <%= f.input :max_single_dose %>
    <%= f.input :max_total_dose %>
    <%= f.input :dose_unit %>
    <%= f.input :patient_type %>

    </div>

  </div>

  <div class="form-actions">
    <%= f.button :submit, "Create User", class: "btn btn-primary" %>
  </div>
<% end %>
