<h3 class="p-5"><%= @rule.first.paramedic_type.title %> Interventions</h3>

<% @grouped_rules.each do |key, value| %>
<div class="overview-card px-5 py-3 my-3">
  <h4 class="no-margin"><%= key[0].name %></h4>
  <p><%= key[2].dose %><%= key[2].drug_unit %> in <%=key[2].volume %><%= key[2].volume_unit %> - <%= key[3].acronym %></p>
  <h5><%= key[1].name %></h5>
  <div class="d-flex justify-bewteen">
    <div class="xs-inf">
      <p>Patient</p>
    </div>
    <div class="xs-inf">
      <p>Initial Dose</p>
    </div>
    <div class="xs-inf">
      <p>Repeat Interval</p>
    </div>
    <div class="xs-inf">
      <p>Repeat Dose</p>
    </div>
    <div class="xs-inf">
      <p>Max Initial Dose</p>
    </div>
    <div class="xs-inf">
      <p>Max Single Dose</p>
    </div>
    <div class="xs-inf">
      <p>Max Total Dose</p>
    </div>
  </div>
  <% value.each do |rule| %>
    <div class="d-flex">
      <div class="xs-inf">
        <% if rule.patient_type == 'Adult' %>
          <% if rule.min_age.nil? && rule.max_age.nil? %>
            <p><%= rule.patient_type %></p>
          <% elsif !rule.min_age.nil? && rule.max_age.nil? %>
            <p><%= rule.patient_type %>(above <%= rule.min_age %>yrs)</p>
          <% elsif rule.min_age.nil? && !rule.max_age.nil? %>
            <p><%= rule.patient_type %>(<%= rule.max_age %>yrs or less)</p>
          <% elsif !rule.min_age.nil? && !rule.max_age.nil? %>
            <p><%= rule.patient_type %>(<%= rule.max_age %>yrs - <%= rule.min_age %>yrs)</p>
          <% end %>
        <% elsif rule.patient_type == 'Pediatric' %>
          <% if rule.min_age.nil? || rule.min_age == 0 || rule.min_age == "0" %>
            <p><%= rule.patient_type %> (<%= rule.max_age %>yrs or less)</p>
          <% else %>
            <p><%= rule.patient_type %> (<%= rule.max_age %> - <%= rule.min_age %>yrs)</p>

          <% end %>
        <% end %>
      </div>
      <div class="xs-inf">
        <% if rule.calc_type == 'Age based'%>
          <% if rule.min_initial_dose.nil? %>
            <p><%= rule.max_initial_dose %><%= rule.dose_unit %></p>
          <% elsif rule.max_initial_dose.nil? %>
            <p><%= rule.min_initial_dose %><%= rule.dose_unit %></p>
          <% else %>
            <p><%= rule.min_initial_dose %><%= rule.dose_unit %> - <%= rule.max_initial_dose %><%= rule.dose_unit %></p>
          <% end %>
        <% elsif rule.calc_type == 'Weight based' %>
          <% if rule.min_initial_dose.nil? %>
          <p><%= rule.max_initial_dose %><%= rule.dose_unit %>/<%= rule.paramedic_type.organization.weight_unit %></p>
          <% elsif rule.max_initial_dose.nil? %>
            <p><%= rule.min_initial_dose %><%= rule.dose_unit %>/<%= rule.paramedic_type.organization.weight_unit %></p>
          <% else %>
            <p><%= rule.min_initial_dose %><%= rule.dose_unit %> - <%= rule.max_initial_dose %><%= rule.dose_unit %>/<%= rule.paramedic_type.organization.weight_unit %></p>
          <% end %>
        <% end %>
      </div>
      <div class="xs-inf">
        <% if !rule.min_interval.nil? && !rule.max_interval.nil? %>
          <p><%= rule.min_interval %> - <%= rule.max_interval %>mins</p>
          <% elsif !rule.min_interval.nil? && rule.max_interval.nil? %>
            <p><%= rule.min_interval %>mins</p>
          <% elsif rule.min_interval.nil? && rule.max_interval.nil? %>
          <p>N/A</p>
          <% else %>
            <p><%= rule.max_interval %>mins</p>
        <% end %>
      </div>
      <div class="xs-inf">
        <% if rule.repeat_dose.nil? || rule.repeat_dose == 0 || rule.repeat_dose == "0" %>
          <p>Single dose only</p>
        <% elsif rule.calc_type == 'Weight based' %>
          <p><%= rule.repeat_dose %><%= rule.dose_unit %>/<%= rule.organization.weight_unit %></p>
        <% else %>
          <p><%= rule.repeat_dose %><%= rule.dose_unit %></p>
        <% end %>
      </div>
      <div class="xs-inf">
        <% if rule.calc_type == 'Age based' %>
          <p><%= rule.max_initial_dose %><%= rule.dose_unit %></p>
        <% else %>
          <p><%= rule.max_initial_dose %><%= rule.dose_unit %>/<%= rule.paramedic_type.organization.weight_unit %></p>
        <% end %>
    </div>
      <div class="xs-inf">
        <% if rule.calc_type == 'Age based' %>
          <p><%= rule.max_single_dose %><%= rule.dose_unit %></p>
        <% else %>
          <p><%= rule.max_single_dose %><%= rule.dose_unit %>/<%= rule.paramedic_type.organization.weight_unit %></p>
        <% end %>
      </div>
      <div class="xs-inf d-flex justify-content-between">
        <div>
          <% if rule.max_total_dose.nil? || rule.max_total_dose == 0 %>
            <p>No Max Dose</p>
          <% elsif rule.calc_type == 'Age based' %>
            <p><%= rule.max_total_dose %><%= rule.dose_unit %></p>
          <% else %>
            <p><%= rule.max_total_dose %><%= rule.dose_unit %>/<%= rule.paramedic_type.organization.weight_unit %></p>
          <% end %>
        </div>
        <div>
          <%= link_to rule_path(rule), method: :delete do %>
            <i class="fas fa-trash"></i>
          <% end %>
        </div>
      </div>
    </div>
  <% end %>
</div>
<% end %>

