<h1> <%= @drug.name %></h1>


<br>
<br>
<h2>  <%= @paramedic_type.title %></h2>
<%= simple_form_for @drug, url: find_rules_path_url(@drug) , method: :get do |f| %>

  <%= f.association :presentations, collection: @drug.presentations.map { |pres| [[pres.dose, pres.drug_unit, pres.volume, pres.volume_unit], pres.id] }, input_html: {multiple: false} %>
  <%= f.association :indications, input_html: {multiple: false} %>

    <%= simple_fields_for :other do |o| %>
      <%= o.input :routes, collection: Route.all %>
  <% end %>
  <%= f.submit %>

<% end %>


<h1>   <%= @final_rules.count if @final_rules %> </h1>
